.navigation {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, you center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, you are no longer using row direction but column */
    flex-direction: column;
  }
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}
h2 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 1em auto;
  padding: 0 1em;
  font-family: Cambria, Georgia;
  background-color: whitesmoke;
  font-size: 1.15em;
  max-width: 35em;
}

p {
  line-height: 1.3em;
  font-family: Cambria, Georgia;
}
body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
/*set button color and shape*/
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin-left: 10px;
}
button:hover {
  background-color: #607d8b;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
/* Navigation link styles */
nav a {
  padding: 8px 10px;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
#signup input {
  margin-left: 10em;
}

#signup label {
  position: absolute;
}

#login input {
  margin-left: 9em;
}

#login label {
  position: absolute;
}
